body {
  background-color: #4c4c4c;
  color: #e5e5e5;
}

.main-header {
  grid-area: header;
}
.main-nav {
  grid-area: nav;
}

.main-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.main-nav li {
  float: left;
}

.main-nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.main-nav li button {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  float: right;
  background-color: #1E90FF;
}

/* Change the link color to #111 (black) on hover */
.main-nav li a:hover {
  background-color: #111;
}


.content {
  grid-area: content;
  background-color: #333;
}

.main-footer {
  grid-area: footer;
  background-color: #333;
}

.wrapper {
  display: grid;
  grid-gap: 20px;
  grid-template-areas: 
    "header"
    "nav"
    "content"
    "footer"
}


/* https://www.w3schools.com/css/css_navbar.asp */